<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/styles/todo.css">
    <script src="../../static/src/todo-item.js"></script>
    <script src="../../static/src/todo.js"></script>
</head>
<body>
<div class="todo-app">
    <div class="todo-app_header">
        <div class="todo-app_title">Задачи</div>
        <div class="todo-app_search search">
            <input type="text" class="search_input" placeholder="Добавь задачу">
            <button class="search_button">Добавить</button>
        </div>
    </div>
    <div class="todo-app_body">
        <!-- <div class = "todo__item todo-item">
            <input class= "todo-item__checkbox" type="checkbox">
            <span class = "todo-item__text">Элемент TODO</span>
            <span class = "todo-item__delete">&times</span>
        </div> -->
    
    </div>
</div>
</body>
</html>